body {
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('../images/kettenraeder-taperlock-spannbuchsen-iwis.webp');
    padding: 0px;
    margin: 0px;
}
.App {
    min-width: 100%;
    background-color: transparent;
    min-height: 100vh;
}
.AppContainer {
    margin: auto;
    width: 90%;
}

@media screen and (max-width: 500px) {
  
}