body {
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('../images/kettenraeder-taperlock-spannbuchsen-iwis.webp');
    padding: 0px;
    margin: 0px;
    background-attachment: fixed;
    /* overflow: auto; */
}

.App {
   
    background-color: transparent;
    min-height: 100vh;
    /* overflow: auto; */
}

.AppContainer {
    margin: auto;
    width: 90%;
    /* overflow: auto; */
}