.ConfirmDeletePage{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 0, 230, 0.116);
}



.DeleteConfirmation {
    width: 20em;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    
    background-color: rgba(21, 20, 19, 0.747);
    color: white;

}