.Dashboard {
    width: 100%;
    color: white;
    background-color: rgba(255, 255, 255, 0.279);
    position: relative;

}

.Dashboard::after {
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.219);
    z-index: -6;
}

.SearchBar {
    margin-top: 2px;
    background-color: rgba(0, 0, 0, 0.346);
    padding: 3px;
    min-height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}



.SearchBarRegion,
.SearchBarFault {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}



.SearchBarFault input {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    outline: none;
    border: none;
    width: 195px;
    height: 40px;
    /* font-size: 1.5em; */
    user-select: none;
}

.SearchBarRegion .SelectTagDashboard {
    background-color: rgba(0, 0, 0, 0.6);

    width: 200px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    /* background-color: black; */
}

.FaultHeaders {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 3px solid red;
    padding: 5px;
    box-sizing: border-box;
    font-weight: bolder;
}

.FaultMessage {
    height: 60px;
    /* padding: 5px; */
    background-color: rgba(0, 0, 255, 0.302);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid white;
    box-sizing: border-box;
    position: relative;
}

.ErrorCode {
    /* width: 20%; */
    font-weight: bolder;
    display: grid;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    padding: 10px;
}

.Description_ {
    /* width: 80%; */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-weight: bolder;
    /* background-color: purple;s */
    /* padding: 2px; */
}

.SolutionDetail {
    width: 10%;
    /* color: crimson; */
    background-color: rgba(255, 255, 255, 0.073);
    font-size: 2em;
    cursor: pointer;
    display: flex;
    justify-content: center;
}















.PostBtn {
    letter-spacing: normal;
    /* padding: 10spx; */
    width: 130px;
    background-color: rgba(0, 0, 0, 0.445);
    font-size: 1em;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.Pen {
    font-size: 1.5em;
    margin-right: 5px;
}





@media screen and (max-width: 600px) {

    .Dashboard {
        min-height: 100%;
    }


    .SearchBar {
        margin-top: 2px;
        background-color: rgba(0, 0, 0, 0.346);
        padding: 5px;
        height: 200px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .FaultHeaders {
        margin-top: .5em;
    }

    .SearchBarRegion,
    .SearchBarFault {
        min-width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }


    .ErrorCode mark {
        font-size: .9em;
    }

    .FaultMessage .Description_ {
        font-size: .9em;
    }

    .Description_ {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-wrap: wrap;
        height: 50px;
    }


}