.Dashboard {
    width: 100%;
    height: 80vh;
    color: white;
    
    background-color:rgba(247, 248, 245, 0);
    position: absolute;
    top: 20vh;
  
}


.SearchBar {
    margin-top: 2px;
    color: white;
    background-color: rgba(255, 255, 255, 0.124);
    padding: 3px;
    min-height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    position: sticky;
    top: 140px;
}



.SearchBarRegion,
.SearchBarFault {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}



.SearchBarFault input {
    background-color: rgba(0, 0, 0, 0.798);
    color: white;
    outline: none;
    border: none;
    width: 195px;
    height: 40px;
    /* font-size: 1.5em; */
    user-select: none;
}

.SearchBarRegion .SelectTagDashboard {
    background-color: rgba(0, 0, 0, 0.6);

    width: 200px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    /* background-color: black; */
}

.FaultHeaders {
    color: white;
    background-color: rgba(50, 7, 7, 0.116);
    width: 100%;
    height: 40px;
    /* height: 50vh; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: .2px solid white;
    border-bottom: .2px solid white;
    padding: 5px;
    box-sizing: border-box;
    font-weight: bolder;
    position: sticky;
    top: 250px;
}

.FaultMessage {
    height: 70px;
    color: white;
    background-color: rgba(0, 0, 255, 0.624);
    width: 100%;
    /* margin: auto; */
    padding: 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid white;
    box-sizing: border-box;
    position: relative;
}

.ErrorCode {
    min-width: 20%;
    font-weight: bolder;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
   
}
.ErrorCode mark{
    min-height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

.Description_ {
    min-width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-weight: bolder;
    color: white;
   
    padding: 1px;
}

















.PostBtn {
    letter-spacing: normal;
    width: 130px;
    background-color: rgba(0, 0, 0, 0.445);
    font-size: 1em;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.Pen {
    font-size: 1.5em;
    margin-right: 5px;
}





@media screen and (max-width: 800px) {

    .Dashboard {
        top: 20vh;
        height: 80vh;
        overflow: auto;
      
        
    }


    .SearchBar {
        margin-top: 2px;
        padding: 5px;
        height: 200px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        top: 0px;
    }

    .SearchBar .BtnDiv {
        align-self: flex-end;
        justify-self: flex-start;
    }

    .FaultHeaders {
        margin-top: .5em;
        position: absolute;
        top: 205px;
    }

    .FaultMessage {
        position: relative;
        top: 260px;
        /* top: 0px; */
    }

    .SearchBarRegion,
    .SearchBarFault {
        min-width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }


    .ErrorCode mark {
        font-size: .9em;
    }



    .FaultMessage .Description_ {
        font-size: .9em;
    }

    .Description_ {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-wrap: wrap;
        height: 50px;
    }


}