.Home {
    width: 100%;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    z-index: 2;
    margin: 0px;
    overflow: auto;

}

a {
    color: white;
    margin-bottom: 4px;
}

.Home::after {
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.602);
    z-index: -6;
}

.AboutProject span {
    color: red;
    font-size: 1.5em;
    font-weight: bolder;
    position: absolute;
    right: 0px;
    top: 0px;
    cursor: pointer;
}

.AboutProject {
    width: 100%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.887);
    z-index: 6;
    color: white;


}

.WriteUp {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.WriteUpInner {
    font-size: 1.5rem;
    padding: 5px;

}



.HomeQuotes {
    min-width: 40%;
    position: absolute;
    top: 50px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.SbcLogo {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    position: absolute;
    top: 0px;
    right: 0px;

}


.Info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Info button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 55px;
    height: 70px;
    color: white;
    background-color: rgba(9, 9, 9, 0.386);
    font-size: 1.2em;
    border-radius: 9%;
    outline: none;
    border: 2px solid rgba(249, 251, 249, 0.364);
    margin: 5px;
    cursor: pointer;
}


.SbcLogo img {
    width: 120px;
    height: 120px;
}


.HomeHero {
    min-width: 60%;
    position: absolute;
    bottom: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ImageDiv {
    position: absolute;
    top: 40px;
    height: 100%;
    width: 150px;
    overflow: hidden;
    border: 2px solid greenyellow;
    transition: all 3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* skills slider */

.ImageWrapRotor {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 55%;
    height: 150px;
    transform-style: preserve-3d;
    animation: roter 17s linear infinite;
}

.ImageWrapRotor:hover {
    animation-play-state: paused;
}




.ImageDiv:hover {
    transform: scale(2);
}

.ImageDiv img {
    min-width: 100%;
    height: 100%;
}

.Photo1 {

    transform: rotateY(calc(30deg * 1)) translateZ(300px);
}

.Photo2 {
    transform: rotateY(calc(30deg * 2)) translateZ(300px);
}

.Photo3 {
    transform: rotateY(calc(30deg * 3)) translateZ(300px);
}

.Photo4 {
    transform: rotateY(calc(30deg * 4)) translateZ(300px);
}

.Photo5 {
    transform: rotateY(calc(30deg * 5)) translateZ(300px);
}

.Photo6 {
    transform: rotateY(calc(30deg * 6)) translateZ(300px);
}

.Photo7 {
    transform: rotateY(calc(30deg * 7)) translateZ(300px);
}

.Photo8 {
    transform: rotateY(calc(30deg * 8)) translateZ(300px);
}

.Photo9 {
    transform: rotateY(calc(30deg * 9)) translateZ(300px);
}

.Photo10 {
    transform: rotateY(calc(30deg * 10)) translateZ(300px);
}

@keyframes roter {
    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(360deg);
    }
}


@media screen and (max-width: 700px) {
    .Home {
        height: 80vh;
        /* overflow: auto; */
    }

    .WriteUpInner {
        height: 100%;
        width: 100%;
    }

    .WriteUpInner p {
        font-size: .8em;
    }

    .HomeQuotes {
        width: 40px;
        position: absolute;
        top: 130px;
        left: 60px;
        font-size: 2px;

    }

    .HomeQuotes h2 {
        font-size: 1.2em;
    }

    .ImageDiv {
        position: absolute;
        top: 100px;
    }


    .WriteUpInner {
        font-size: 1.2rem;
        padding: 5px;

    }

    .ImageDiv {
        width: 100px;
        /* display: none; */
    }

    .Navber {
        height: 20vh;
    }

    .SbcLogo {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-top: 3px;
    }




    .Photo1 {

        transform: rotateY(calc(30deg * 1)) translateZ(200px);
    }

    .Photo2 {
        transform: rotateY(calc(30deg * 2)) translateZ(200px);
    }

    .Photo3 {
        transform: rotateY(calc(30deg * 3)) translateZ(200px);
    }

    .Photo4 {
        transform: rotateY(calc(30deg * 4)) translateZ(200px);
    }

    .Photo5 {
        transform: rotateY(calc(30deg * 5)) translateZ(200px);
    }

    .Photo6 {
        transform: rotateY(calc(30deg * 6)) translateZ(200px);
    }

    .Photo7 {
        transform: rotateY(calc(30deg * 7)) translateZ(200px);
    }

    .Photo8 {
        transform: rotateY(calc(30deg * 8)) translateZ(200px);
    }

    .Photo9 {
        transform: rotateY(calc(30deg * 9)) translateZ(200px);
    }

    .Photo10 {
        transform: rotateY(calc(30deg * 10)) translateZ(200px);
    }


}

@media screen and (max-width: 900px) {
    .Home {
        height: 70vh;
    } 
    .HomeQuotes {
        position: absolute;
        top: 90px;
        font-size: .7em;
    }

}

