.Navber {
    margin: auto;
    width: 100%;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgba(19, 17, 17, 0.195);
    position:absolute;
    top: 0vh;
}



.NavberInner {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    /* background-color: yellow; */
}
.NavberHomeBtn {
    letter-spacing:2px;
    border-bottom: 3px solid rgb(244, 243, 243);
    /* align-self:flex-start; */
}

.NavberInnerNavs {
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: yellowgreen; */
}

.LoginMessage {
    color: white;
}

.LoginMessage .BigFont {
    font-size: 1.5em;
    color: crimson;
}


.LoginProfilePic img {

    width: 80px;
    height: 90px;

}

.LogOut {
    background-color: red;
    /* background-color: rgba(255, 0, 0, 0.033); */
    margin-left: auto;
    border:     1px solid rgb(244, 243, 243);
    letter-spacing: .2em;
   
}
.LogOut:hover{
    background-color: transparent;
}


@media screen and (max-width: 800px) {
    .Navber {
        top: 0;
        height: 30vh;
    }
    .NavberInner {
        height: 100%;
        width: 100%;
    }
   
    
    .LogOut {
        background-color: red;
        margin-left: auto;
        width: 90px;
    }
    .LoginProfilePic{
        margin-top: 2px;
        align-self: flex-start;
    }
    .NavberHomeBtn{
        margin-top: 2px;
        align-self: flex-start;
        font-size: .7em;
        width: 100px;
    }

    .NavberInnerNavs {
        align-self:stretch;
        font-size: .7em;
        height: 70px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

}
