.Navber {
    width: 100%;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    top: 0vh;
    background-image: linear-gradient(to right, rgba(9, 9, 9, 0.758), rgba(247, 250, 246, 0.511));
    /* background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1)); */
}

.NavberInner {

    height: 100%;
    margin: auto;
    width: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    z-index: 9;
}

.NavberInner::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgba(78, 5, 29, 0.069); */
    z-index: -9;
}


.NavberInner .NavberHomeBtn {

    color: black;
    width: auto;
    padding: 5px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.842);
    border-radius: 5px;
    height: 20px;

    display: flex;
    justify-content: center;
    align-items: center;    

    position: absolute;
    left: 1px;
    bottom:0px;
}


.NavberInner .NavberHomeBtn b {
    font-size: 1em;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 2px;
}


.NavberInner .LoginProfilePic {
    justify-self: center;
}




.LoginMessage .BigFont {
    font-size: 1.5em;
    color: crimson;
}


.LoginProfilePic img {

    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 2px;
    width: 100px;

}
.ManagePostBtn{
    position: absolute;
    right:10em;
    bottom: 0;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.842);

    height: 30px;
    border-radius: 5px;
    padding: 5px;
}

.LogOut {
    cursor: pointer;
    align-self: flex-start;
    background-color: crimson;
    color: white;
    height: 30px;
    width: 100px;
    position: absolute;
    right:0em;
    bottom: 0;
    border-radius: 5px;
    padding: 5px;
}



.LogOut:hover {
    background-color: transparent;
}

.LoginBtnNav {
    position: absolute;
    right: 1em;
}


@media screen and (min-width: 800px) {
    .NavberInner {
        padding: 20px;
        box-sizing: border-box;

    }

    .LoginProfilePic {
        position: absolute;
        left: 20em;
    }

    .LoginMessage {
        color: white;
        position: absolute;
        left: 30em;
    }
}

@media screen and (max-width: 800px) {

    .Navber {
        position: relative;
        z-index: 0;
    }


    .NavberInner {
        padding: 10px;
        box-sizing: border-box;
        color: white;
        font-size: .7em;
        height: 100%;
    }

    .Navber .Hamburger {
        display: block !important;
    }

    .Hamburger {
        font-size: 60px;
        position: absolute;
        right: 1px;
        top: 1px;
    }

    .NavberHomeBtn {
        display: none !important;
    }
    .ManagePostBtn{
        display: none !important; 
    }
    .LogOut{
        display: none !important;
       
    }

    .Global {
        position: absolute;
        top: 0;
        content: "";
        right: 0;
        width: 40%;
        height: 100vh;
        color: white;
        border-radius: 10px;
        background-color:rgba(255, 255, 255, 0.533) !important;
        z-index: 3;
    }





    .NavberInner .NavberHomeBtn b {
        font-size: 3em;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: flex-start;
    }

    .NavberInner .NavberHomeBtn {
        padding: 0px;
        color: white;
        background-color: rgba(0, 0, 0, 0.659);
        border: 1px solid crimson;
        border-radius: 10px;
        width: 90px;
        height: 40px;
        align-self: flex-start;
        position: absolute;
        top: 5px;
        right: 35%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

   

    .LoginProfilePic {
        position: absolute;
        left: 0.5px;
        bottom: 0;
    }

    .LoginMessage {
        position: absolute;
        left: 110px;
        bottom: 2em;
        display: flex;
        flex-wrap: wrap;

    }






}