.PostContainer {
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    background-color: transparent;
    position: absolute;
    top: 20vh;
    box-sizing: border-box;
    overflow: auto;
}

.PostContainer::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.PostContainer {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}



.PostContainerInner {
    height: 100%;
   box-sizing: border-box;
   /* background-color: rgba(165, 42, 42, 0.386); */
   padding: 20px;
   position: relative;
   top:5vh;
    
}

.PostErrorCode {
    /* margin-top: 2px;*/
    margin-bottom: 2px; 

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.ErrorCodeLabel {
    color: white;
    /* justify-self: flex-start; */
}

.PostErrorCode input {
    width: 200px ;
    height: 40px;
    color: rgb(255, 255, 255);
    font-size: 1em;
    background-color: rgba(8, 8, 8, 0.707);
    box-sizing: border-box;
    outline: none;
}

.ErrorCode,
.DescriptionDiv,
.SummaryDiv,
.PostReport {
    margin-top: 8px;
    display: flex;
    justify-content: center;
}

.machineTypeDiv {
    color: white;
    margin-bottom: 2px;
}

.ErrorDescription {
    width: 300px;
    height: 40px;
    border-bottom: 3px solid rgb(244, 243, 243);
    padding: 2px;
    color: white;
    background-color: rgba(0, 0, 0, 0.711);
    font-size: 1.2em;
}

.SolutionSummary {
    width: 300px;
    height: 200px;
    padding: 2px;
    color: white;
    background-color: rgba(0, 0, 0, 0.711);
    font-size: 1.2em;
    border-bottom: 3px solid rgb(244, 243, 243);
}

.SolutionAttachedImages {
    padding: 1em;
    color: white;
}

.SolutionAttachedImages input {
    padding: .5em;
    color: white;
    background-color: rgba(45, 45, 48, 0.88);
}

.ReportBtn {
    letter-spacing: 5px;
    font-size: 0.8em;
    width: 100px;
    height: 40px;
    background-color: crimson;
    color: white;
    outline: none;
    border: none;
    margin-bottom: 3em;
}




@media screen and (max-width: 800px) {
    .PostContainer {
        top: 20vh;
        height: 80vh;
        width: 100%;
    }

    .PostContainerInner {
        height: 100%;
        width: 100%;
        margin: auto;
        padding: 20px;
        box-sizing: border-box;
        overflow: auto;
        position: relative;
        top: 5vh;
    }

   
}