.Register {
    width: 100%;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    position: relative;
    z-index: 2;
    overflow: hidden;
    color: white;
    /* overflow: auto; */
}

.Register::after {
    width: 100%;
    height: 100%;
    content: "";
    /* display: block; */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.468);
    z-index: -2;
}

.Register .RegistrationForm {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Register .RegistrationForm .RegistrationFormInner {
    height: 100%;
    overflow: auto;
}

.RegistrationForm div {
    /* margin: .5px; */
    color: white;
}

.RegistrationForm div input {
    color: white;
    min-width: 10em;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.259);
    /* user-select: none; */
    
}

.RegistrationButtons {
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.429);
    width: 190px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;

}

.RegNewUserBtn {
    margin-top: .5em;
    margin-bottom: .5em;
    background-color: red;
}

.CancelRegBtn {
    margin-top: .5em;
    margin-bottom: .5em;
    /* margin-left: 2.6em; */
    background-color: rgba(255, 255, 255, 0.355);
}

/* login styles.................... */
.Login {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    z-index: 2;
}

.Login::after {
    width: 100%;
    height: 100%;
    content: "";
    /* display: block; */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.468);
    z-index: -2;
}





.Login .LoginForm {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}


.LoginFormDiv {
    margin: 1px;
}

.LoginFormDiv input {
    min-width: 12em;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.279);
    color: white;
    font-size: 1em;
    user-select: none;
}
 
.LoginFormDiv button {
    margin-top: 1em;
    margin-left: 3.5em;
    
}
.LoginBtn{
    background-color: rgba(255, 0, 0, 0.597);
}

.LoginErrorMessage {
    padding: 5px;
    letter-spacing: 2px;
    text-transform: uppercase;
    background-color: rgba(255, 0, 0, 0.453);
    display: flex;
    justify-content: center;
    align-items: center;
}



@media screen and (max-width: 500px) {
    .Login {
        height: 80vh;
    }

    .Register {
        height: 80vh;
    }
}

@media screen and (max-height: 650px) {
    .Login {
        height: 80vh;
    }
    
    /* .Register {
        height: 100vh;
    } */
}