.ReportDetails {
    color: white;
    background-color: rgba(0, 0, 0, 0.612);
}

.ReportTitle {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.556);
}



.MachineErrorDescription {
    /* width: 100%; */
    padding: 10px;
    display: block;
    justify-content: center;
    align-items: center;
    background-color:rgba(0, 0, 255, 0.098);
}



.MachineSolutionSummary {
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.774);
}

.ErrorPics {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}

.ErrorPics img {
   
    width: 400px;
    height: 400px;
}

.SolutionCreated {
    /* color: red; */
    background-color: rgba(0, 0, 0, 0.465);
}