.ReportDetails {
    color: white;
    position: absolute;
    top: 20vh;
    height: 80vh;
    overflow: auto;
}

.ReportTitle {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: transparent;
}



.MachineErrorDescription {
    /* width: 100%; */
    padding: 10px;
    display: block;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 255, 0.098);
}



.MachineSolutionSummary {
    padding: 5px;
    /* background-color: rgba(0, 0, 0, 0.774); */
}

.ErrorPics {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

.ErrorPics img {

    width: 400px;
    height: 400px;
}

.SolutionCreated {
    /* color: red; */
    background-color: rgba(0, 0, 0, 0.465);
}

@media screen and (max-width: 600px) {
    .ReportDetails {
        height: 80vh;
        width: 100%;
        top: 20vh;
        overflow: auto;
    }
}