.Button1 {
    width: 80px;
    height: 30px;
    background-color: rgba(197, 190, 190, 0.172);
    outline: none;
    border: none;
    margin-right: 1px;
    font: bold;
    cursor: pointer;
}

.Button2 {
    width: 80px;
    height: 30px;
    background-color: blue;
    color: white;
    outline: none;
    border: none;
    margin-left: 1px;
    font: bold;
    cursor: pointer;
}

.Button3 {
    width: 120px;
    height: 40px;
    background-color: rgba(130, 130, 134, 0.774);
    color: white;
    outline: none;
    border: none;
    margin-left: 1px;
    font: bolder;
    cursor: pointer;
    /* border: 2px solid white; */
    letter-spacing: .3em;
}
.Button4{

    width: 120px;
    height: 40px;
    background-color:rgba(220, 20, 60, 0.731);
    color:white;
    outline: none;
    border: none;
    margin-left: 1px;
    font: bolder;
    cursor: pointer;
    letter-spacing: .3em;



}

/*Input placeholder displacement */
.user-input-wrp {
    position: relative;
    width: 50%;
}

.user-input-wrp .inputText {
    width: 100%;
    outline: none;
    border: none;
    /* border-bottom: 1px solid #777; */
    border-bottom: 1px solid white;
    box-shadow: none !important;
}

.user-input-wrp .inputText:focus {
    border-color: blue;
    border-width: medium medium 2px;
}

.user-input-wrp .floating-label {
    position: absolute;
    pointer-events: none;

    top: 35px;
    /* top:18px; */
    left: 10px;
    transition: 0.2s ease all;
}

.user-input-wrp input:focus~.floating-label,
.user-input-wrp input:not(:focus):valid~.floating-label {
    /* top:0px */
    top: 20px;
    /* left:10px */
    left: 2px;
    font-size: 13px;
    opacity: 1;
}

.SelectTag {
    min-width: 12em;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.671);
    color: white;
    font-size: 1em;
}
